<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- / => look for app.css in main directory -->
  <link rel="stylesheet" href="/app.css">
  <title>EJS DEMO APP</title>
</head>
<body>
  
