<%- include("layouts/header") %>

<h1>FRIENDS LIST GOES HERE!</h1>

<% friends.forEach((friend) => { %>
  <li><%= friend %></li>
<% }) %>

<form action="/addFriend" method="POST">
  <input type="text" placeholder="name">
  <button>I made a new friend!</button>
</form>

<%- include("layouts/footer") %>