<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
  <p>Good Choice! Rusty is the Best!</p>
<% } else { %>
    <p>Bad Choice! You should have said rusty</p>
  <% } %>  

<p>P.S. this is the love.ejs file</p>